.my_image {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3) ),url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA4MTZfNTgg%2FMDAxNjYwNjYxOTA2MDcx.WYqryZjUjp6of1brylKv0fkpd15WoYcSvjQ77Xrnukkg.53FlYNctafQBfHUgNXN5Wvep5T5p1ubKp-bZIyDUVLsg.PNG.adorable409%2FScreen06.png&type=sc960_832");
    background-position: center;

     background-size: 100% 400px;

      width: 100%;
      height: 400px;
}

.hero-body{
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3) ),url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA4MTZfNTgg%2FMDAxNjYwNjYxOTA2MDcx.WYqryZjUjp6of1brylKv0fkpd15WoYcSvjQ77Xrnukkg.53FlYNctafQBfHUgNXN5Wvep5T5p1ubKp-bZIyDUVLsg.PNG.adorable409%2FScreen06.png&type=sc960_832");
    background-position: center;
     background-size: 100% 400px;

}

.hero-body > .hero is-white{
    width: 50%;
}

.my_title{
    font-size: 100px;
    color: white;
    text-align: center;
    padding-top: 30px;
    font-family: 'Yeon Sung', cursive;
}

.my_logo{
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 70px;
    font-family: 'Yeon Sung', cursive;
}


.filebox {
    margin-bottom: 10px;
}
.filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
}
.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
body {
    background-color: RGBA(47, 98, 171, 0.79);
    min-height: 100vh;
        padding-top: 3.25rem;
}

.section {
    padding: 1rem 1.5rem;
    max-width: 750px;
    margin: auto;
}

.is-sparta {
    color: #e8344e !important;
}

.button.is-sparta {
    background-color: #e8344e;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #e8344e;
    color: #e8344e !important;
}

.modal-content {
    width: 600px;
    max-width: 80%;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.image img {
    object-fit:cover;
    width:100%;
    height:100%;
}
.filebox {
    margin-bottom: 10px;
}
.filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
}
.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.wrap {
    display: flex;
    justify-content: center;
}
.child2 {
    display: inline-block;
}
.media {
    margin-bottom: 30px;
}